:root {
  --color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
  }
}

.yt-notes textarea {
  box-sizing: border-box;
  height: 720px; /* Default video player height */
  width: 100%;
  padding: 2rem;
  outline: 0;
  border: 0;
  border-left: 2px solid transparent;
  color: var(--color);
  background: rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 300;
  resize: vertical;
}

.yt-notes textarea:focus {
  border-left: 2px solid cornflowerblue;
}
